*{
margin: 0;
padding: 0;
}
h1{ 
    text-align: center;
    background-color: black;
    color:blanchedalmond;
    font-style: oblique;
}
body{
    background-image: url(pexels-pixabay-326055.jpg);
            background-size: cover;
            background-position: center;            
        min-height: 100vh;    
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 1.5vmin;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 2.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    color:crimson;
}
#reset-btn{
padding: 1rem;
font-size:1.25rem;
background-color:crimson;
color:bisque;
border-radius: 1rem;
border:none;
}
#new-btn{
   padding: 1rem;
font-size:1rem;
background-color: blueviolet;
color:azure;

border-radius: 1rem;
border:none; 
}
#msg{
    color:rgba(115, 235, 10, 0.689);
    font-size: 8vmin;
}
.msg-container{

   
    position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            text-align: center;
            z-index: 10;
            width: 80%;
            max-width: 400px;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
    
}
.hide{
    display: none;
}
